<div>
  <div class="post index">
    <h1>{{cat-name}} Index</h1>
    <ul class="org-ul">
      {{#posts}}
          <li><a href="{{post-uri}}"><aside>{{post-date}}</aside><div class="index-link">{{post-title}}</div></a></li>
      {{/posts}}
    </ul>
  </div>
</div>
