    <div>{{! footer}}
      {{#show-meta}}
      <div class="post-meta">
          <span title="post date" class="light">Posted: {{{date}}}</span>
          <br>
        <span title="tags" class="light">Filed Under: {{{tag-links}}}</span>
      </div>
      {{/show-meta}}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.css" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/contrib/auto-render.min.js" crossorigin="anonymous"></script>
    </div>
