  <head>
      <title>{{page-title}}</title>
      <meta charset="utf-8" />
      <meta name="author" content="{{author}}" />
      {{#description}}
          <meta name="description" content="{{description}}" />
      {{/description}}
      {{#keywords}}
          <meta name="keywords" content="{{keywords}}" />
      {{/keywords}}
      <link rel="stylesheet" href="/media/css/main.css" type="text/css">
      <script>
       window.goatcounter = {
           path: function(p) { return location.host + p }
       }
      </script>
      <script data-goatcounter="https://stats.space.af/count"
              async src="//stats.space.af/count.js"></script>
      <script>
       document.addEventListener("DOMContentLoaded", function() {
           renderMathInElement(document.body, {
               delimiters: [
                   {left: "$$", right: "$$", display: true},
                   {left: "\\[", right: "\\]", display: true},
                   //{left: "\[", right: "\]", display: true},
                   {left: "$", right: "$", display: false},
                   {left: "\\(", right: "\\)", display: false}
               ]
           });
       });
      </script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
