    <div class="sidebar">{{! nav }}
        <header>
            <h1 class=""><a href="/">{{site-main-title}}</a></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books/">Reading List</a></li>
                <li><a href="https://wiki.malloc.dog/">Notes</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/rss.xml">RSS</a></li>
                <li>
                    <a href="https://webring.xxiivv.com/malloc.dog" target="_blank" rel="noopener">Webring<div id="webring_icon" alt="XXIIVV webring"></div></a>
                </li>
            </ul>
        </header>
    </div>
