    <div class="sidebar">{{! nav }}
        <header>
            <h1 class=""><a href="/">{{site-main-title}}</a></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/2018/01/01/book-list/">What I'm Reading</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/rss.xml">RSS</a></li>
            </ul>
        </header>
    </div>
